@import url('../css/common.css');

.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navigation a {
  color: var(--color-orange);
  text-decoration: none;
  background-color: none;
  width: calc(var(--slide-width) * 2);
  padding: 5px 0;
  margin-bottom: 15px;
  border: 1px solid var(--color-orange);
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
}
a:hover{
  text-shadow: 0px 0px 10px rgb(248, 255, 175);
  box-shadow: 0px 0px 10px rgb(248, 255, 175);
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  transform: scale(1.02);
}
